## 1. Perkenalan

## 2.- Import Libraries

In [3]:
# Import Libraries

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import MinMaxScaler, StandardScaler,OrdinalEncoder
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn import preprocessing
import plotly.express as px
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Input
from tensorflow.keras import Model 
import tensorflow as tf
from tensorflow import keras
import pickle
import requests
import json
import requests

## 3 - Data Loading Train

In [4]:
data1=pd.read_csv('Train-1542865627584.csv')

In [5]:
data1.head(3)

   Provider PotentialFraud
0  PRV51001             No
1  PRV51003            Yes
2  PRV51004             No

In [6]:
data2=pd.read_csv('Train_Beneficiarydata-1542865627584.csv')

In [7]:
data2.head(3)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11002,1936-09-01,NaN,2,1,0,39,280,12,12,...,2,2,2,2,2,2,0,0,30,50
2,BENE11003,1936-08-01,NaN,1,1,0,52,590,12,12,...,2,2,1,2,2,2,0,0,90,40

In [8]:
data3=pd.read_csv('Train_Inpatientdata-1542865627584.csv')

In [9]:
data3.head(3)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,CLM46614,2009-04-12,2009-04-18,PRV55912,26000,PHY390922,NaN,NaN,2009-04-12,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11001,CLM66048,2009-08-31,2009-09-02,PRV55907,5000,PHY318495,PHY318495,NaN,2009-08-31,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
2,BENE11001,CLM68358,2009-09-17,2009-09-20,PRV56046,5000,PHY372395,NaN,PHY324689,2009-09-17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
data4=pd.read_csv('Train_Outpatientdata-1542865627584.csv')

In [11]:
data4.head(3)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,56409
1,BENE11003,CLM189947,2009-02-12,2009-02-12,PRV57610,80,PHY362868,NaN,NaN,6115,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,79380
2,BENE11003,CLM438021,2009-06-27,2009-06-27,PRV57595,10,PHY328821,NaN,NaN,2723,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [37]:
#Gabung train table 1 dan 3 dengan key 'Provider'
joined_df_1_3 = pd.merge(data1, data3, on='Provider',how='outer')

joined_df_1_3

,Provider,PotentialFraud,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,PRV51001,No,BENE36012,CLM58316,2009-07-04,2009-07-08,36000.0,PHY340163,NaN,NaN,...,7823,49300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRV51001,No,BENE38773,CLM52334,2009-05-23,2009-05-25,12000.0,PHY346762,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PRV51001,No,BENE98831,CLM36844,2009-02-03,2009-02-08,3000.0,PHY383193,NaN,NaN,...,7840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,PRV51001,No,BENE102690,CLM49733,2009-05-04,2009-05-18,42000.0,PHY383193,PHY378091,PHY389113,...,2720,45829,53081,NaN,3521.0,2724.0,NaN,NaN,NaN,NaN
4,PRV51001,No,BENE152088,CLM37205,2009-02-06,2009-02-06,4000.0,PHY402229,PHY329739,NaN,...,NaN,NaN,NaN,NaN,8659.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43787,PRV57759,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43788,PRV57760,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43789,PRV57761,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43790,PRV57762,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43791,PRV57763,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
#Gabung data train 2 dengan table gabungan 1 dan 3 dengan foregnkey 'BeneID'
joined_df_1_3_2 =pd.merge(data2,joined_df_1_3,on='BeneID',how='outer' )
joined_df_1_3_2

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,1943-01-01,NaN,1.0,1.0,0,39.0,230.0,12.0,12.0,...,NaN,NaN,NaN,NaN,7092.0,NaN,NaN,NaN,NaN,NaN
1,BENE11001,1943-01-01,NaN,1.0,1.0,0,39.0,230.0,12.0,12.0,...,2724,19889,5849,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11001,1943-01-01,NaN,1.0,1.0,0,39.0,230.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11002,1936-09-01,NaN,2.0,1.0,0,39.0,280.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11003,1936-08-01,NaN,1.0,1.0,0,52.0,590.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151055,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151057,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
#Gabung tabel 4 dengan gabungan tabel 1,2,3 dengan Foregnkey 'Provider'
joined_df_1_3_2_4=pd.merge(data4,joined_df_1_3_2,on='Provider',how='outer')
joined_df_1_3_2_4

,BeneID_x,ClaimID_x,ClaimStartDt_x,ClaimEndDt_x,Provider,InscClaimAmtReimbursed_x,AttendingPhysician_x,OperatingPhysician_x,OtherPhysician_x,ClmDiagnosisCode_1_x,...,ClmDiagnosisCode_7_y,ClmDiagnosisCode_8_y,ClmDiagnosisCode_9_y,ClmDiagnosisCode_10_y,ClmProcedureCode_1_y,ClmProcedureCode_2_y,ClmProcedureCode_3_y,ClmProcedureCode_4_y,ClmProcedureCode_5_y,ClmProcedureCode_6_y
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30.0,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40.0,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200.0,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11004,CLM173224,2009-02-03,2009-02-03,PRV56011,20.0,PHY339887,NaN,NaN,20381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11004,CLM224741,2009-03-03,2009-03-03,PRV56011,40.0,PHY345721,NaN,NaN,V6546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11416113,NaN,NaN,NaN,NaN,PRV54054,NaN,NaN,NaN,NaN,NaN,...,V5869,2724,7948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11416114,NaN,NaN,NaN,NaN,PRV51136,NaN,NaN,NaN,NaN,NaN,...,2766,V4585,42769,NaN,3806.0,4019.0,NaN,NaN,NaN,NaN
11416115,NaN,NaN,NaN,NaN,PRV51977,NaN,NaN,NaN,NaN,NaN,...,6826,99591,23875,NaN,3995.0,NaN,NaN,NaN,NaN,NaN
11416116,NaN,NaN,NaN,NaN,PRV55706,NaN,NaN,NaN,NaN,NaN,...,78830,1985,0414,NaN,9955.0,NaN,NaN,NaN,NaN,NaN
11416117,NaN,NaN,NaN,NaN,PRV51812,NaN,NaN,NaN,NaN,NaN,...,V4582,25000,32723,2724,3324.0,NaN,NaN,NaN,NaN,NaN

In [42]:
#rubah nama hasil gabungan tadi dengan nama df_train
df_train=joined_df_1_3_2_4
df_train

,BeneID_x,ClaimID_x,ClaimStartDt_x,ClaimEndDt_x,Provider,InscClaimAmtReimbursed_x,AttendingPhysician_x,OperatingPhysician_x,OtherPhysician_x,ClmDiagnosisCode_1_x,...,ClmDiagnosisCode_7_y,ClmDiagnosisCode_8_y,ClmDiagnosisCode_9_y,ClmDiagnosisCode_10_y,ClmProcedureCode_1_y,ClmProcedureCode_2_y,ClmProcedureCode_3_y,ClmProcedureCode_4_y,ClmProcedureCode_5_y,ClmProcedureCode_6_y
0,BENE11002,CLM624349,2009-10-11,2009-10-11,PRV56011,30.0,PHY326117,NaN,NaN,78943,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11004,CLM121801,2009-01-06,2009-01-06,PRV56011,40.0,PHY334319,NaN,NaN,71988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11004,CLM150998,2009-01-22,2009-01-22,PRV56011,200.0,PHY403831,NaN,NaN,82382,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11004,CLM173224,2009-02-03,2009-02-03,PRV56011,20.0,PHY339887,NaN,NaN,20381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11004,CLM224741,2009-03-03,2009-03-03,PRV56011,40.0,PHY345721,NaN,NaN,V6546,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11416113,NaN,NaN,NaN,NaN,PRV54054,NaN,NaN,NaN,NaN,NaN,...,V5869,2724,7948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11416114,NaN,NaN,NaN,NaN,PRV51136,NaN,NaN,NaN,NaN,NaN,...,2766,V4585,42769,NaN,3806.0,4019.0,NaN,NaN,NaN,NaN
11416115,NaN,NaN,NaN,NaN,PRV51977,NaN,NaN,NaN,NaN,NaN,...,6826,99591,23875,NaN,3995.0,NaN,NaN,NaN,NaN,NaN
11416116,NaN,NaN,NaN,NaN,PRV55706,NaN,NaN,NaN,NaN,NaN,...,78830,1985,0414,NaN,9955.0,NaN,NaN,NaN,NaN,NaN
11416117,NaN,NaN,NaN,NaN,PRV51812,NaN,NaN,NaN,NaN,NaN,...,V4582,25000,32723,2724,3324.0,NaN,NaN,NaN,NaN,NaN

In [43]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11416118 entries, 0 to 11416117
Data columns (total 81 columns):
 #   Column                           Dtype
---  ------                           -----
 0   BeneID_x                         object
 1   ClaimID_x                        object
 2   ClaimStartDt_x                   object
 3   ClaimEndDt_x                     object
 4   Provider                         object
 5   InscClaimAmtReimbursed_x         float64
 6   AttendingPhysician_x             object
 7   OperatingPhysician_x             object
 8   OtherPhysician_x                 object
 9   ClmDiagnosisCode_1_x             object
 10  ClmDiagnosisCode_2_x             object
 11  ClmDiagnosisCode_3_x             object
 12  ClmDiagnosisCode_4_x             object
 13  ClmDiagnosisCode_5_x             object
 14  ClmDiagnosisCode_6_x             object
 15  ClmDiagnosisCode_7_x             object
 16  ClmDiagnosisCode_8_x             object
 17  ClmDiagnosisCode_9_x             object
 18  ClmDiagnosisCode_10_x            object
 19  ClmProcedureCode_1_x             float64
 20  ClmProcedureCode_2_x             float64
 21  ClmProcedureCode_3_x             float64
 22  ClmProcedureCode_4_x             float64
 23  ClmProcedureCode_5_x             float64
 24  ClmProcedureCode_6_x             float64
 25  DeductibleAmtPaid_x              float64
 26  ClmAdmitDiagnosisCode_x          object
 27  BeneID_y                         object
 28  DOB                              object
 29  DOD                              object
 30  Gender                           float64
 31  Race                             float64
 32  RenalDiseaseIndicator            object
 33  State                            float64
 34  County                           float64
 35  NoOfMonths_PartACov              float64
 36  NoOfMonths_PartBCov              float64
 37  ChronicCond_Alzheimer            float64
 38  ChronicCond_Heartfailure         float64
 39  ChronicCond_KidneyDisease        float64
 40  ChronicCond_Cancer               float64
 41  ChronicCond_ObstrPulmonary       float64
 42  ChronicCond_Depression           float64
 43  ChronicCond_Diabetes             float64
 44  ChronicCond_IschemicHeart        float64
 45  ChronicCond_Osteoporasis         float64
 46  ChronicCond_rheumatoidarthritis  float64
 47  ChronicCond_stroke               float64
 48  IPAnnualReimbursementAmt         float64
 49  IPAnnualDeductibleAmt            float64
 50  OPAnnualReimbursementAmt         float64
 51  OPAnnualDeductibleAmt            float64
 52  PotentialFraud                   object
 53  ClaimID_y                        object
 54  ClaimStartDt_y                   object
 55  ClaimEndDt_y                     object
 56  InscClaimAmtReimbursed_y         float64
 57  AttendingPhysician_y             object
 58  OperatingPhysician_y             object
 59  OtherPhysician_y                 object
 60  AdmissionDt                      object
 61  ClmAdmitDiagnosisCode_y          object
 62  DeductibleAmtPaid_y              float64
 63  DischargeDt                      object
 64  DiagnosisGroupCode               object
 65  ClmDiagnosisCode_1_y             object
 66  ClmDiagnosisCode_2_y             object
 67  ClmDiagnosisCode_3_y             object
 68  ClmDiagnosisCode_4_y             object
 69  ClmDiagnosisCode_5_y             object
 70  ClmDiagnosisCode_6_y             object
 71  ClmDiagnosisCode_7_y             object
 72  ClmDiagnosisCode_8_y             object
 73  ClmDiagnosisCode_9_y             object
 74  ClmDiagnosisCode_10_y            object
 75  ClmProcedureCode_1_y             float64
 76  ClmProcedureCode_2_y             float64
 77  ClmProcedureCode_3_y             float64
 78  ClmProcedureCode_4_y             float64
 79  ClmProcedureCode_5_y             float64
 80  ClmProcedureCode_6_y             float64
dtypes: float64(37), object(44)
memory usage: 7.0+ GB

### Peneliti Memutuskan untuk menggabung 4 table train menjadi 1 tabel, dengan alasan agar label tujuan bisa diproses dengan teknik yang akan digunakan

## 3 - Data Loading Test

In [45]:
data1tes=pd.read_csv('Test-1542969243754.csv')
data1tes.head(3)

   Provider
0  PRV51002
1  PRV51006
2  PRV51009

In [46]:
data2tes=pd.read_csv('Test_Beneficiarydata-1542969243754.csv')
data2tes.head(3)

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ChronicCond_Depression,ChronicCond_Diabetes,ChronicCond_IschemicHeart,ChronicCond_Osteoporasis,ChronicCond_rheumatoidarthritis,ChronicCond_stroke,IPAnnualReimbursementAmt,IPAnnualDeductibleAmt,OPAnnualReimbursementAmt,OPAnnualDeductibleAmt
0,BENE11001,1943-01-01,NaN,1,1,0,39,230,12,12,...,1,1,1,2,1,1,36000,3204,60,70
1,BENE11007,1940-09-01,2009-12-01,1,2,0,45,610,12,12,...,2,1,2,1,1,2,0,0,1490,160
2,BENE11010,1936-07-01,NaN,2,1,0,41,30,12,12,...,2,1,1,1,2,2,0,0,1170,660

In [48]:
data3tes=pd.read_csv('Test_Inpatientdata-1542969243754.csv')
data3tes.head(3)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11014,CLM67387,2009-09-09,2009-09-16,PRV57070,9000,PHY317786,PHY427017,NaN,2009-09-09,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
1,BENE11017,CLM31237,2008-12-25,2009-01-08,PRV54750,14000,PHY314656,PHY426644,NaN,2008-12-25,...,4549,29570,34831,NaN,5551.0,NaN,NaN,NaN,NaN,NaN
2,BENE11026,CLM78930,2009-12-09,2009-12-13,PRV53758,2000,PHY349495,NaN,NaN,2009-12-09,...,78650,7813,4254,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
data4tes=pd.read_csv('Test_Outpatientdata-1542969243754.csv')
data4tes.head(3)

,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,Provider,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,ClmDiagnosisCode_1,...,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6,DeductibleAmtPaid,ClmAdmitDiagnosisCode
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
1,BENE11001,CLM430760,2009-06-23,2009-06-23,PRV56112,30,PHY381777,NaN,PHY381777,9594,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,BENE11007,CLM233081,2009-03-07,2009-03-07,PRV56979,200,PHY425311,NaN,PHY425311,7248,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN

In [52]:
df_1_3=pd.merge(data1tes,data3tes,on='Provider',how='outer')
df_1_3

,Provider,BeneID,ClaimID,ClaimStartDt,ClaimEndDt,InscClaimAmtReimbursed,AttendingPhysician,OperatingPhysician,OtherPhysician,AdmissionDt,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,PRV51002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,PRV51006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PRV51009,BENE46602,CLM46631,2009-04-12,2009-04-15,4000.0,PHY394538,PHY394538,NaN,2009-04-12,...,E8889,7905,4011,53081,8721.0,NaN,NaN,NaN,NaN,NaN
3,PRV51009,BENE86272,CLM34271,2009-01-17,2009-01-20,11000.0,PHY394538,PHY394538,NaN,2009-01-17,...,NaN,NaN,NaN,NaN,8151.0,4414.0,NaN,NaN,NaN,NaN
4,PRV51010,BENE88689,CLM72817,2009-10-21,2009-10-21,4000.0,PHY366439,PHY337153,NaN,2009-10-21,...,NaN,NaN,NaN,NaN,8543.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10379,PRV57713,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10380,PRV57726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10381,PRV57745,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10382,PRV57749,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10383,PRV57750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df_1_3_2=pd.merge(data2tes,df_1_3,on='BeneID',how='outer')
df_1_3_2

,BeneID,DOB,DOD,Gender,Race,RenalDiseaseIndicator,State,County,NoOfMonths_PartACov,NoOfMonths_PartBCov,...,ClmDiagnosisCode_7,ClmDiagnosisCode_8,ClmDiagnosisCode_9,ClmDiagnosisCode_10,ClmProcedureCode_1,ClmProcedureCode_2,ClmProcedureCode_3,ClmProcedureCode_4,ClmProcedureCode_5,ClmProcedureCode_6
0,BENE11001,1943-01-01,NaN,1.0,1.0,0,39.0,230.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11007,1940-09-01,2009-12-01,1.0,2.0,0,45.0,610.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11010,1936-07-01,NaN,2.0,1.0,0,41.0,30.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11011,1914-03-01,NaN,2.0,2.0,0,1.0,360.0,12.0,12.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11014,1938-04-01,NaN,2.0,1.0,Y,45.0,780.0,12.0,12.0,...,5990,570,41071,4280,4443.0,5849.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
df_1_3_2_4=pd.merge(data4tes,df_1_3_2,on='Provider',how='outer')
df_1_3_2_4

,BeneID_x,ClaimID_x,ClaimStartDt_x,ClaimEndDt_x,Provider,InscClaimAmtReimbursed_x,AttendingPhysician_x,OperatingPhysician_x,OtherPhysician_x,ClmDiagnosisCode_1_x,...,ClmDiagnosisCode_7_y,ClmDiagnosisCode_8_y,ClmDiagnosisCode_9_y,ClmDiagnosisCode_10_y,ClmProcedureCode_1_y,ClmProcedureCode_2_y,ClmProcedureCode_3_y,ClmProcedureCode_4_y,ClmProcedureCode_5_y,ClmProcedureCode_6_y
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30.0,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11536,CLM169510,2009-02-01,2009-02-01,PRV55962,100.0,PHY404476,NaN,NaN,7915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11536,CLM189950,2009-02-12,2009-02-12,PRV55962,40.0,PHY347633,NaN,PHY347633,43310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11536,CLM215578,2009-02-26,2009-02-26,PRV55962,60.0,PHY333010,NaN,NaN,78702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11536,CLM515149,2009-08-09,2009-08-09,PRV55962,900.0,PHY333010,NaN,PHY347633,73300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848902,NaN,NaN,NaN,NaN,PRV52809,NaN,NaN,NaN,NaN,NaN,...,4280,4019,43811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2848903,NaN,NaN,NaN,NaN,PRV51834,NaN,NaN,NaN,NaN,NaN,...,40391,56210,V441,NaN,9904.0,NaN,NaN,NaN,NaN,NaN
2848904,NaN,NaN,NaN,NaN,PRV56898,NaN,NaN,NaN,NaN,NaN,...,2851,NaN,NaN,NaN,8154.0,NaN,NaN,NaN,NaN,NaN
2848905,NaN,NaN,NaN,NaN,PRV52977,NaN,NaN,NaN,NaN,NaN,...,4019,7804,2724,71844,8872.0,NaN,NaN,NaN,NaN,NaN
2848906,NaN,NaN,NaN,NaN,PRV52977,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8006.0,NaN,NaN,NaN,NaN,NaN

In [55]:
df_test=df_1_3_2_4
df_test

,BeneID_x,ClaimID_x,ClaimStartDt_x,ClaimEndDt_x,Provider,InscClaimAmtReimbursed_x,AttendingPhysician_x,OperatingPhysician_x,OtherPhysician_x,ClmDiagnosisCode_1_x,...,ClmDiagnosisCode_7_y,ClmDiagnosisCode_8_y,ClmDiagnosisCode_9_y,ClmDiagnosisCode_10_y,ClmProcedureCode_1_y,ClmProcedureCode_2_y,ClmProcedureCode_3_y,ClmProcedureCode_4_y,ClmProcedureCode_5_y,ClmProcedureCode_6_y
0,BENE11001,CLM392397,2009-06-02,2009-06-02,PRV55962,30.0,PHY347633,NaN,PHY347633,V5832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BENE11536,CLM169510,2009-02-01,2009-02-01,PRV55962,100.0,PHY404476,NaN,NaN,7915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BENE11536,CLM189950,2009-02-12,2009-02-12,PRV55962,40.0,PHY347633,NaN,PHY347633,43310,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BENE11536,CLM215578,2009-02-26,2009-02-26,PRV55962,60.0,PHY333010,NaN,NaN,78702,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,BENE11536,CLM515149,2009-08-09,2009-08-09,PRV55962,900.0,PHY333010,NaN,PHY347633,73300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848902,NaN,NaN,NaN,NaN,PRV52809,NaN,NaN,NaN,NaN,NaN,...,4280,4019,43811,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2848903,NaN,NaN,NaN,NaN,PRV51834,NaN,NaN,NaN,NaN,NaN,...,40391,56210,V441,NaN,9904.0,NaN,NaN,NaN,NaN,NaN
2848904,NaN,NaN,NaN,NaN,PRV56898,NaN,NaN,NaN,NaN,NaN,...,2851,NaN,NaN,NaN,8154.0,NaN,NaN,NaN,NaN,NaN
2848905,NaN,NaN,NaN,NaN,PRV52977,NaN,NaN,NaN,NaN,NaN,...,4019,7804,2724,71844,8872.0,NaN,NaN,NaN,NaN,NaN
2848906,NaN,NaN,NaN,NaN,PRV52977,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8006.0,NaN,NaN,NaN,NaN,NaN

In [56]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2848907 entries, 0 to 2848906
Data columns (total 80 columns):
 #   Column                           Dtype
---  ------                           -----
 0   BeneID_x                         object
 1   ClaimID_x                        object
 2   ClaimStartDt_x                   object
 3   ClaimEndDt_x                     object
 4   Provider                         object
 5   InscClaimAmtReimbursed_x         float64
 6   AttendingPhysician_x             object
 7   OperatingPhysician_x             object
 8   OtherPhysician_x                 object
 9   ClmDiagnosisCode_1_x             object
 10  ClmDiagnosisCode_2_x             object
 11  ClmDiagnosisCode_3_x             object
 12  ClmDiagnosisCode_4_x             object
 13  ClmDiagnosisCode_5_x             object
 14  ClmDiagnosisCode_6_x             object
 15  ClmDiagnosisCode_7_x             object
 16  ClmDiagnosisCode_8_x             object
 17  ClmDiagnosisCode_9_x             object
 18  ClmDiagnosisCode_10_x            object
 19  ClmProcedureCode_1_x             float64
 20  ClmProcedureCode_2_x             float64
 21  ClmProcedureCode_3_x             float64
 22  ClmProcedureCode_4_x             float64
 23  ClmProcedureCode_5_x             float64
 24  ClmProcedureCode_6_x             float64
 25  DeductibleAmtPaid_x              float64
 26  ClmAdmitDiagnosisCode_x          object
 27  BeneID_y                         object
 28  DOB                              object
 29  DOD                              object
 30  Gender                           float64
 31  Race                             float64
 32  RenalDiseaseIndicator            object
 33  State                            float64
 34  County                           float64
 35  NoOfMonths_PartACov              float64
 36  NoOfMonths_PartBCov              float64
 37  ChronicCond_Alzheimer            float64
 38  ChronicCond_Heartfailure         float64
 39  ChronicCond_KidneyDisease        float64
 40  ChronicCond_Cancer               float64
 41  ChronicCond_ObstrPulmonary       float64
 42  ChronicCond_Depression           float64
 43  ChronicCond_Diabetes             float64
 44  ChronicCond_IschemicHeart        float64
 45  ChronicCond_Osteoporasis         float64
 46  ChronicCond_rheumatoidarthritis  float64
 47  ChronicCond_stroke               float64
 48  IPAnnualReimbursementAmt         float64
 49  IPAnnualDeductibleAmt            float64
 50  OPAnnualReimbursementAmt         float64
 51  OPAnnualDeductibleAmt            float64
 52  ClaimID_y                        object
 53  ClaimStartDt_y                   object
 54  ClaimEndDt_y                     object
 55  InscClaimAmtReimbursed_y         float64
 56  AttendingPhysician_y             object
 57  OperatingPhysician_y             object
 58  OtherPhysician_y                 object
 59  AdmissionDt                      object
 60  ClmAdmitDiagnosisCode_y          object
 61  DeductibleAmtPaid_y              float64
 62  DischargeDt                      object
 63  DiagnosisGroupCode               object
 64  ClmDiagnosisCode_1_y             object
 65  ClmDiagnosisCode_2_y             object
 66  ClmDiagnosisCode_3_y             object
 67  ClmDiagnosisCode_4_y             object
 68  ClmDiagnosisCode_5_y             object
 69  ClmDiagnosisCode_6_y             object
 70  ClmDiagnosisCode_7_y             object
 71  ClmDiagnosisCode_8_y             object
 72  ClmDiagnosisCode_9_y             object
 73  ClmDiagnosisCode_10_y            object
 74  ClmProcedureCode_1_y             float64
 75  ClmProcedureCode_2_y             float64
 76  ClmProcedureCode_3_y             float64
 77  ClmProcedureCode_4_y             float64
 78  ClmProcedureCode_5_y             float64
 79  ClmProcedureCode_6_y             float64
dtypes: float64(37), object(43)
memory usage: 1.7+ GB